#root {
  height: 600px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  position: sticky;
  width: 1000px;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid;
  margin-bottom: 20px;

}

.div {
  display: flex;
  justify-content: space-around;
}

.section img {
  width: 700px;
  height: 450px;
}

.products article:hover {
  /* border: 1px solid; */
  background-color: rgb(83, 93, 110);
  color: white;
}

.login {
  width: 1000px;
  height: 550px;
  background: rgb(151, 187, 254);
}
.login form{
  display: grid;
  padding-top: 0px;
}
.login button{
  width: 720px;
  margin-top: 100px;
  justify-content: center;
  margin: 0 auto;
}
.login input{
  width: 700px;
  height: 35px;
  margin-top: 0px;
  margin-bottom: 25px;
  box-shadow: 0px 0px 20px 0px white;
  border: none;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}
.login input:hover{
  border:0.5px solid blue;
}
.btn{
  margin-top: 120px;
  box-shadow: 0px 0px 20px 0px white;
}
.login h1{
  padding-top: 100px;
}